@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 262 80% 98%;
    --foreground: 262 25% 15%;
    --card: 262 80% 98%;
    --card-foreground: 262 25% 15%;
    --popover: 262 80% 98%;
    --popover-foreground: 262 25% 15%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 35% 89%;
    --secondary-foreground: 262 35% 30%;
    --muted: 262 60% 94%;
    --muted-foreground: 262 25% 45%;
    --accent: 231 48% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 40% 85%;
    --input: 262 60% 94%;
    --ring: 262 52% 47%;
    --chart-1: 262 52% 47%;
    --chart-2: 231 48% 51%;
    --chart-3: 262 40% 67%;
    --chart-4: 231 38% 71%;
    --chart-5: 262 30% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 262 20% 10%;
    --foreground: 262 40% 95%;
    --card: 262 20% 10%;
    --card-foreground: 262 40% 95%;
    --popover: 262 20% 10%;
    --popover-foreground: 262 40% 95%;
    --primary: 262 62% 57%;
    --primary-foreground: 262 20% 10%;
    --secondary: 262 20% 20%;
    --secondary-foreground: 262 40% 95%;
    --muted: 262 20% 15%;
    --muted-foreground: 262 40% 60%;
    --accent: 231 58% 61%;
    --accent-foreground: 231 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 25%;
    --input: 262 20% 20%;
    --ring: 262 62% 57%;
    --chart-1: 262 62% 57%;
    --chart-2: 231 58% 61%;
    --chart-3: 262 50% 77%;
    --chart-4: 231 48% 81%;
    --chart-5: 262 40% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
